click==8.1.7
colorama==0.4.6
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
numpy==1.21.6
opencv-python==4.7.0.72
paho-mqtt==1.6.1
Pillow==9.5.0
typing_extensions==4.7.1
Werkzeug==2.2.3
zipp==3.15.0
